[Unit]
Description=Run Vortex Ghost Git Monitor every 30 mins

[Timer]
OnStartupSec=10s
OnUnitActiveSec=15s
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
